<div class="user-details">
  <h1>Band Info</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <img src="/DreamPeople/images/Video.png" width="500" alt="bleh">
    <img src="/DreamPeople/images/BandCar.png" alt="bleh">
    <img src="/DreamPeople/images/Video1.png" alt="bleh">
    <p>I feel comfortable working on the front-end, going from pure CSS & HTML5 to Sass, Bootstrap or AngularJS/2+, VueJS and whatever!</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <img src="/DreamPeople/images/DP.png" width="500" alt="bleh">
    <img src="/DreamPeople/images/Cat.jpg" alt="bleh">
    <img src="/DreamPeople/images/BandPdC.jpg" alt="bleh">
    <p>My main development languages are Java and JavaScript, but I have worked with Go, Python, PHP and more..</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <img src="/DreamPeople/images/BandSmoke.jpg" width="500" alt="bleh">
    <img src="/DreamPeople/images/BWsinger.jpg" alt="bleh">
    <img src="/DreamPeople/images/BandDancer.jpg" alt="bleh">
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>
