<div class="user-details">
  <h1>Band Info</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Cool</h2>
    <img src="/DreamPeople/images/Video.png" style="max-width:100%;" alt="bleh">
    <img src="/DreamPeople/images/BandCar.png" style="max-width:100%;" alt="bleh">
    <img src="/DreamPeople/images/Video1.png" style="max-width:100%;" alt="bleh">
    <p>I feel comfortable working on the front-end, going from pure CSS & HTML5 to Sass, Bootstrap or AngularJS/2+, VueJS and whatever!</p>
  </div>
  <div class="tech">
    <h2>Portuguese</h2>
    <img src="/DreamPeople/images/DP.png" style="max-width:100%;" alt="bleh">
    <img src="/DreamPeople/images/Cat.jpg" style="max-width:100%;" alt="bleh">
    <img src="/DreamPeople/images/BandPdC.jpg" style="max-width:100%;" alt="bleh">
    <p>My main development languages are Java and JavaScript, but I have worked with Go, Python, PHP and more..</p>
  </div>
  <div class="tech">
    <h2>Band</h2>
    <img src="/DreamPeople/images/BandSmoke.jpg" style="max-width:100%;" width="500" alt="bleh">
    <img src="/DreamPeople/images/BWsinger.jpg" style="max-width:100%;" alt="bleh">
    <img src="/DreamPeople/images/BandDancer.jpg" style="max-width:100%;" alt="bleh">
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>
