<div class="user-details">
  <h1>Band Info</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Cool</h2>
    <img src="/images/Video.jpg" style="max-width:100%;" alt="bleh">
    <img src="/images/BandCar.jpg" style="max-width:100%;" alt="bleh">
    <img src="/images/Video1.jpg" style="max-width:100%;" alt="bleh">
    <p>We're a cool band from Portugal</p>
  </div>
  <div class="tech">
    <h2>Portuguese</h2>
    <img src="/images/DP.png" style="max-width:100%;" alt="bleh">
    <img src="/images/Cat.jpg" style="max-width:100%;" alt="bleh">
    <img src="/images/BandPdC.jpg" style="max-width:100%;" alt="bleh">
    <p>You can write text here too!</p>
  </div>
  <div class="tech">
    <h2>Band</h2>
    <img src="/images/BandSmoke.jpg" style="max-width:100%;" width="500" alt="bleh">
    <img src="/images/BWsinger.jpg" style="max-width:100%;" alt="bleh">
    <img src="/images/BandDancer.jpg" style="max-width:100%;" alt="bleh">
    <p>It's hard to pretend each of us is not hipster as fuck.</p>
  </div>
</div>
